h1{
    font-size: 3em;
}
.LeftSide{
float: left;
width: 50%;
height: 100%;



}
.RightSide{
    float: right;
    width: 50%;
    height: 100%;
}
.MH{
padding: auto;
margin: 20px;
}
.footer{
   position: fixed;
   left: 0%;
   right: 0%;
   bottom: 0;
   width: 100%;
    text-align: center;
    padding:  18px;
    margin: 0;
    background-color: grey;
}
.MH img{
    width: 470px;
    height: 380px;
}